<div class="container-center">
  <div class="circle"></div>
    <form action="/answer" data-turbo="false">
      <h1>Stupid Coaching</h1>
      <p>Ask your coach anything:</p>
      <input type="text" name="question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
</div>
